h1{
    text-align:center;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration: yellow underline;
    font-size: 50px;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
}
p{
    line-height: 2;
}
