div{
    width: 200px;
    height: 200px;
    background-color: #3DB2FF;
}
h1{
    background-color: grey;
    width: 200px;
}
#one{
    background-color: #FFE3E3;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    box-sizing: border-box;
}
#two{
    background-color:antiquewhite ;
    border-style:dashed;
    border-color: rgb(255, 0, 0);
    border-width: 3px;
    box-sizing: border-box
}
#three{
    background-color: #E2C2B9;
    border-style:dotted;
    border-color: rgb(0, 4, 255);
    border-width: 4px;
    box-sizing: border-box
}